@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html, input, button {
    font-family: 'Lato', sans-serif;
    font-size: 12pt;
}
html, section {
    background-color: #0095db;
    height: 100%;
    display: flex; flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
table {
    border: 1px solid #164194;
    border-radius: 10px;
    padding: 5px;
}
td, input {
    text-align: center;
}
input {
    width: 70px;
    background-color: transparent;
    border: 1px solid black; border-radius: 5px;
    text-align: center;
}
button {
    background-color: #164194;
    border: 1px solid black; border-radius: 5px;
    color: white;
    margin: 10px 0;
}
footer {
    margin-top: 12pt;
    border: 3px double #164194; border-radius: 10px;
    padding: 5px;
}

.nota, .peso, #final {
    width: 50px;
}

#espacador {
    height: 12pt;
}
#final {
    background-color: lightgray;
}